.admin-container{
  display:flex;
  width:100%;
  min-height:100vh;
  background:#F8F9FE;
  
}

/* ---- SIDEBAR ---- */
.admin-sidebar{
  width:230px;
  background:rgba(255,255,255,0.35);
  backdrop-filter:blur(10px);
  border-right:1px solid rgba(255,255,255,0.25);
  padding:25px;
  color:#444;
  box-shadow:2px 0 20px rgba(0,0,0,0.08);
}

.admin-sidebar h2{
  font-size:20px;
  margin-bottom:20px;
  font-weight:700;
}

.admin-sidebar ul{
  list-style:none;
  padding:0;
}

.admin-sidebar li{
  padding:12px 10px;
  border-radius:10px;
  cursor:pointer;
  margin-bottom:8px;
  transition:0.3s;
  font-weight:500;
}

.admin-sidebar li:hover{
  background:#111;
  color:#fff;
}

/* ---- CONTENT ---- */
.admin-content{
  padding:40px;
  width:100%;
}

.admin-content h1{
  font-size:34px;
  font-weight:900;
}




/* dashboard css */

